:host ::ng-deep {
    .ProseMirror {
        border: 1px solid #000;
    }
    .page {
        width: 595px; // 21cm
        height: 842px; // 29.7cm;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid #000;
        break-after: page;
        max-height: 842px; // 29.7cm;
        box-sizing: border-box; /* Make sure padding doesn't affect the page size */
        overflow: hidden;
    }
}
