<!-- <div id="content">
  <div class="page" page-number="1">Hello</div>
</div> -->
<p-menubar [model]="menuItems"></p-menubar>
<div>
  <div>
    <input
      type="text"
      [(ngModel)]="textFontSizeInput"
      (keyup)="handleEnter(view, $event)"
    />
    <input
      type="text"
      [(ngModel)]="textFontFamilyInput"
      (keyup)="handleEnterFontFamily(view, $event)"
    />
  </div>
</div>

<div #editor id="editor" class="overflow-auto"></div>
<div #measurementEditor id="measurement-editor" class="overflow-auto"></div>
<div class="fixed right-4 bottom-4">
  {{ index }}
</div>
@if (true) {
  <div>dsfadsflkasjdf</div>
} @else {
  <div>
    <div>123123</div>
  </div>
}
