@import '../../../styles.css';

.ProseMirror {
    padding: 1rem;
}
.image-block-node {
    display: inline-flex;
    width: 200px;
    height: 250px;
    flex-direction: column;
    border: 1px solid #000;
}
.custom-list-item-node {
    display: flex;
    gap: 8px;
    border: 1px solid #333;
}

.editor-content table {
    border-collapse: separate;
    border-spacing: 0;
}
.editor-content {
    @apply w-[50%];
}