/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "./../node_modules/prosemirror-view/style/prosemirror.css",
@import "./../node_modules/prosemirror-example-setup/style/style.css",
@import "./../node_modules/prosemirror-gapcursor/style/gapcursor.css",
@import "./../node_modules/prosemirror-menu/style/menu.css";

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
